[Unit]
Description=uWSGI instance to serve digitalgent
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/html/digitalgent
Environment="PATH=/var/www/html/digitalgent/api/bin"
ExecStart=/var/www/html/digitalgent/api/bin/uwsgi --ini api.ini

[Install]
WantedBy=multi-user.target
